<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the    utf-8
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--
  <configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
//-->
	<appSettings>
		<add key="NEOGOAL" value="SlpXVOeSDR1Cgk0HVF3NAmF/1y1YXoPHDokIjI1ZX3TMaDC9acWxGbxllC1Ese4lNLfoKPayWM4+XNviTFB9rS6ZCjBdfajB" />
		<add key="READ2000" value="SlpXVOeSDR1Cgk0HVF3NAmF/1y1YXoPHHWO/JpMNrXRn0btFnfy2ca2v51aH30+sEHVpT6sSj9JD+5EFj4AXtMzoQe9/EOtEPc7sMuQz/Uk=" />
    <add key="SQL-WEBSTUDY" value="SlpXVOeSDR1Cgk0HVF3NAmF/1y1YXoPHWdvk8SxnEmflQ4rF7mq/UWNixcNqfAH5MdUPhbGKKwf2RARjwrr87+VQLiP4utny"/>
   	<add key="SQL-ENGSTUDY" value="SlpXVOeSDR1Cgk0HVF3NAmF/1y1YXoPHWdvk8SxnEmfgJIwYcBVGmg9HZ9Daoq4KyIYSJt6dzrUAqfaKKeSgbgfjwCKrohBEq8G85Q7qtTQ="/>
    
		<add key="NEOGOAL_DIR" value="G:\project source\[GTIPLUS] 통합사이트\NeoGOAL\Upload\" />
		<add key="NEOGOAL_URL" value="http://localhost/Upload/" />
		<!-- SSL 연결자 -->
		<add key="USE_SSL" value="N" />
	</appSettings>
	<connectionStrings />
	<system.web>
		<customErrors mode="Off" />
		<pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<!--<pages enableViewStateMac="false"  validateRequest="false"> -->
		</pages>
		<httpHandlers>
			<add verb="POST,GET" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
		</httpHandlers>
		<httpRuntime maxRequestLength="409600" />
		<!--<httpRuntime requestValidationMode="2.0" maxRequestLength="40960"/> -->
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<trace pageOutput="true" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" />-->
		<globalization requestEncoding="ks_c_5601-1987" responseEncoding="ks_c_5601-1987" />
        <sessionState timeout="60" />
		<!--		
		<globalization requestEncoding="euc-kr" responseEncoding="euc-kr"/>
		<globalization requestEncoding="ks_c_5601-1987" responseEncoding="ks_c_5601-1987"/>
		-->
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="300000000" />
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
			<mimeMap fileExtension=".hwp" mimeType="application/hwp" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>
